html {
    font-weight: 900;
    font-size: 14px;
    color: yellow;
}
body {
    background-image: url(./Images/sky.jpg);
}
header {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 2px 0 5px white;
}
header img {
    width: 200px;
}