* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    background-color:antiquewhite;
}
h1 {
    text-align: center;
    margin-top: 25px;
}
.header {
    
}
.main {
    width: 960px;
    margin: auto;
}
ul {
    list-style: none;
}
h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 50px 0 10px 0;
}
li {
    margin-bottom: 25px;
}
p {
    margin-bottom: 10px;
    line-height: 1.5;
}