* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
   /*     src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('embedded-opentype'),
             Internet Explorer 
            url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff2'),
             Super Modern Browsers 
            url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff'),
             Pretty Modern Browsers 
            url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
            Safari, Android, iOS 
            url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('svg');
             Legacy iOS */
}

body {
    background-color: antiquewhite;
}

h1 {
    border-radius: 10px;
    font-size: 42px;
    text-align: center;
    width: max-content;
    text-shadow: white 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0.542);
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.main {
    width: 960px;
    margin: auto;
}

ul {
    list-style: none;
}

h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 50px 0 10px 0;
}

li {
    margin-bottom: 25px;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
}

a, a:visited {
    color:chocolate;
    text-decoration: none;
}

a:hover {
    color: rgb(97, 46, 12);
    text-decoration: underline;
}

.body {
    width: 100%;
    height: 100%;
    
}

.header {
    height: 400px;
    background-image: url(https://www.deccanherald.com/sites/dh/files/articleimages/2023/01/08/coffeeistock-1179035-1673176833.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: rgba(91, 78, 70, 0.722) 0px 2px 10px;
}

.stick {
    border-radius: 10px;
    border: 1px solid rgb(189, 160, 119);
    width: 50px;
    height: 50px;
    left: 15px;
    bottom: 15px;
    position:relative;
    opacity: 0.5;
}
.stick:hover {
    opacity: 0.9;
    transition: all 0.3s;
}

.stick img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
.stick img:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
}


.messager {
    border-radius: 50%;
    border: 1px solid rgb(189, 160, 119);
    background-color: antiquewhite;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1;
}

.messager img {
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.messager:hover {
    box-shadow: 1px 2px 10px grey;
    cursor: pointer;
    transition: all 0.3s;
}
.homelink {
    background-image: url(./images/icons/home_a.svg);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.homelink:hover {
    background-image: url(./images/icons/home.svg);
    cursor: pointer;
    transition: all 0.3s;
        
}
.homelink img {
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
ul li img {
    float: right;
    border-radius: 15px;
    margin-left: 50px;
    width: 300px;
    box-shadow: 1px 2px 5px rgb(47, 47, 47);
}
.flag {
    position: relative;
    
}
.flag img {
    width: 40px;
    height: 30px;
    position:absolute;
    right: -20px;
    top: 30px;

}
#footer {
    min-height: 100px;
    width: 100%;
    background-color:rgb(37, 18, 5);
    color: antiquewhite;
    padding-top: 20px;
    bottom: 0px;
  
}

#footer p {
    font-size: 16px;
    

}

#footer-content {
    width: 960px;
    margin: auto;
}
