* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #3d4246;
    line-height: 1.5em;
    font-size: 15px;

}

.header {
    min-height: 100px;
    background-color: white;
    padding: 0 55px;
    border-bottom: 1px solid #e8e9eb;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul {
    list-style: none;
    justify-content: center;
}

.header ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header ul li {
    padding: 3px 10px;
}

.flex {
    display: flex;
    align-items: center;
}
.hover {
    position: relative;
    cursor: pointer;
}
.drop {
display: none;
width: max-content;
}
.hover:hover .drop {
    display: block;
    position: absolute;
    left: 0;
    padding: 15px 5px;
    border: 1px solid #e8e9eb;
    border-radius: 2px;
    background-color: white;
}
.zoom {
    display: none;
    width: max-content;
    
}
.hover:hover .zoom {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #3d4246cc;
    width: 40px;
    height: 30px;
    border-radius: 3px;
    padding-top: 10px;
    
    }
.transtarent {
        display: none;

}
.hover:hover .transtarent {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.198);
} 
.column {
    flex-direction: column;
}
.center {
    text-align: center;
}
.al_self_cent {
align-self: center !important;
}
.logo {
    flex: 1 2 20%;
    flex-shrink: 5;
}

.logo img {
    padding-right: 15px;
}

.navbar {
    flex: 2 1 50%;
    padding: 25px;

}

.head_extended {
    justify-content: end;
    align-items: center;
    gap: 15px;

}

.form {
    overflow: hidden;
    background-color: #e9e9e9;
}


.form input[type=text] {
    float: right;
    padding: 6px;
    border: 1px solid grey;
    width: 160px;
    height: 30px;
    font-size: 14px;
}

.sale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 30px;
    font-size: 16px;
    color: #a5260a;
    font-weight: 700;
    margin: 0 7px;
    background: #f6eae8;
    border-radius: 30px;
    line-height: 28px;
}
.sale_compact {
    display: none;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 30px;
    font-size: 16px;
    color: #a5260a;
    font-weight: 700;
    margin: 0 7px;
    background: #f6eae8;
    border-radius: 30px;
    line-height: 28px;
}
.user {
    display: flex;
    height: 30px;
}

.shop {
    display: flex;
    height: 30px;
}

.user:hover,
.shop:hover,
.sale:hover,
.promo img:hover {
    cursor: pointer;
}

.burger {
    display: none;
    color: #3d4246;
    font-size: 25px;
}

.burger:hover {
    cursor: pointer;
}

.search {
    display: none;
    height: 30px;

}

main {
    padding-top: 55px;
}

section {
    justify-content: center;
}
section ul {
    list-style: none;
}
h3 {
    font-size: 15px;
}
.h3 { 
    color: #3d4246;
    letter-spacing: 0.1em;
}
button {
    user-select: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 8px 15px;
    background-color: #bfd180;
    color: white;
    font-family: Assistant, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    font-size: 13px;
}
div>button:hover {
    background-color: #889e37;
    transition: 0.3s;
}
ul > li > button {
    padding: 8px 10px;
    margin: 20px 0;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
    background-color: transparent;
    border-color: #bfd180;
    border-radius: 2px;
    color: #bfd180;
    line-height: 1;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    font-family: Assistant, sans-serif;
    touch-action: manipulation;
}
ul>li>button:hover {
    box-shadow: 0 0 2px #889e37;
    color: #a3c41d;
    transition: 0.3s;
}
.bold {
    font-weight: bold;
    color: #3d4246;
    font-size: 16px;
}
.caps_spasing {
    letter-spacing: 0.1em;
}
.page_width {
    flex: 1;
    max-width: 1200px;
    margin: 0 55px;
    width: 100%;
}

.goods, .promo {
    text-align: center;
    flex: 1;
    justify-content: space-between;
    align-self: stretch;
}

.goods p {
    font-size: 12px;
    padding-top: 10px;
}

.goods h4 {
    padding-top: 15px;
}

.goods img {
    width: auto;
}
.promo {
    width: 33.33333%;
}

.promo p {
    padding-top: 10px;
    color: #69727b;
}
.promo img {
    width: 100%;
    /* --------------margins & paddings------------- */
}
.m35 {
    margin: 0 35px;
}
.m20 {
    margin: 0 20px;
}
.vert_pad_55 {
    padding: 55px 0;
}
.w_pad_35 {
    padding: 0 35px;
}
.w_pad_50 {
    padding: 0 50px;
}
  /* -------------- -------------------------------- */
.rew_box {
    width: 865px;
    height: max-content;
    margin: 0 100px;
    padding: 50px 0;
}
.stars {
    color: #ff8a00;
    font-size: 24px;
    align-self: flex-start;
    margin: 0 0 10px;
    letter-spacing:0.2em;
    -webkit-font-smoothing: antialiased;
}
  .rewiew {
      font-size: 14.5px;
      width: 25%;
      padding: 0 12px;
      align-self: stretch;
      color: #69727b;
      justify-content: space-between;
      align-items: flex-start;
}
.rew_1 {
    align-self: stretch;
    align-items: center;
    width: 20%;
}
.rew_name {
    color: #3d4246;
    align-self: flex-start;
    margin-top: 20px;
}
.rew_item {
    font-size: 13.5px;
    color: #3d4246;
    align-self: flex-start;
}
.rew_date {
    color: #3d4246;
    font-size: 11.25px;
    align-self: flex-start;
}
.rec {
    text-align: left;
}
.rec:hover {
    cursor: pointer;
    text-decoration: underline;
}
  .about {
    padding: 0 35px;
    justify-content: start;
    align-items:start;
    font-size: 1.13333em;
}
.about p {
    color: #69727b;
    line-height: 1.5;
    font-weight: 600;
    font-style: normal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}
.about h3 {
    font-size: 1.13333em;
    padding-bottom:  10px;
}
.about_img {
    width: 45%;
    margin-left: 35px;
    align-self: flex-start;
}
.article p {
    text-align: left;
        
}
.article a {
    color: #3d4246;
    margin: 0 10px 5px 0;
    display:inline-block;
}
.article img {
        max-width: 517.5px;
        max-height: 345px;
        margin-bottom: 20px;

}
.article h4 {
        font-size: 1.33333em;
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 10px;
        text-align: left;
}
.date {
    color: #3d4246 !important;
}
.article button {
    color: #3d4246;
    border-color: #3d4246;

}
.article button:hover {
        box-shadow: 0 0 2px #1f2224;
        color: #1f2224;
        transition: 0.3s;
}

@media(max-width: 1280px) {
    nav {
        display: none;
    }

    .head_extended {
        flex: 3 1 50%;
        justify-content: center;
    }

    .burger {
        display: block;
    }

    main {
        padding-top: 40px;
    }

}

@media(max-width: 700px) {
    .search {
        display: flex;
        align-items: center;
    }

    .form {
        display: none;
    }

    .goods {
        flex: 1 0;
    }

    .goods img {
        width: 130px;
    }
   
    .promo {
        min-width: 250px;
    }
    .page_width {
        flex-wrap: wrap;
    }
        .sale_compact {
            display: flex;
            width: 60px;
}
.sale {
    display: none;
}
}