.content_header {
    height: 400px;
    background-image: url(../images/ethiopia/had.jpg);
    background-position: bottom;
    background-size: cover;
    box-shadow: rgba(91, 78, 70, 0.722) 0px 2px 10px;
}