* {
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;

}

header {
    background-color: rgb(6, 18, 23);
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.parallax [class*="bg_"] {
    display: flex;
    position: relative;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

.parallax .bg_one {
    background-image: url(./images/2.jpg);
    display: flex;

}

.parallax .bg_two {
    background-image: url(./images/ship_1800.jpeg);
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-left: 10px;
    font-size: large;
}


ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: cyan;
}

ul li a:visited {
    color: white;

}

.logo {
    display: flex;
}

.user {
    color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
}

.user img {
    height: 50px;
}

span {
    margin-left: 10px;
}

aside {
    min-height: 80vh;
    width: 15vw;
    min-width: 200px;
    /* border: 1px solid rgb(240, 247, 255);*/
}

section {
    min-height: 80vh;
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(240, 247, 255);*/
}

footer {
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.876);
}

.card {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 15px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.498);
}

.card img {
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.top-box {
    display: flex;
    gap: 15px;
    align-items: center;
}

.top-box p {
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.bottom-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    vertical-align: bottom;
}

button {
    color: aliceblue;
}

.prim-butt {
    padding: 5px 25px;
    background-color: rgb(155, 42, 97);
}

.second-butt {
    padding: 5px 35px;
    background-color: rgb(23, 61, 137);
}

.characters {
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.delimiter {
    display: flex;
    background-color: rgb(9, 112, 192);
    max-height: 50vh;
    min-height: 1vh;
    width: 100%;
}

.delimiter img {
    border-radius: 0 5vw 5vw 0;
    width: 95%;
}

.delimiter-image {
    display: flex;
    border-radius: 0 5vw 5vw 0;
    background-color: aliceblue;
    width: 40vw;

    box-shadow: 2px 0px 5px rgb(34, 71, 104);
}

.delimiter-content {
    display: flex;

    color: aliceblue;
    padding-left: 3vw;
    padding-top: 1vw;
    flex-direction: column;
    width: 60vw;
}

.delimiter-content h2 {
    display: flex;
    font-size: 48px;
}

.delimiter-content p {

    font-size: 16px;
    line-height: 150%;
}

.delimiter-content a,
a:visited {

    color: aliceblue;
    text-decoration: none;
}

.delimiter-content a:hover {
    text-decoration: underline;

}

.second_block {
    display: flex;
    min-height: 60vh;
    width: 100%;


}

.sec_bl_content p {
    color: aliceblue;
    font-size: 16px;
    line-height: 150%;
}

.sec_bl_content {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 50px;
    padding: 20px;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

.sec_bl_content h2 {
    display: flex;
    font-size: 48px;

}

.aside {
    border: 1px solid yellow;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    height: 100%;
}

/*
header {
    height: 80px;
    background-color: bisque;
}

main {
    height: 728px;
    background-color: antiquewhite;
}

.user img {
    width: 50px;
    height: 50px;
}

.logo {
    position: relative;
    left: 0%;
    top: 15%;
}

.ml-5 {
    margin-left: 5px;
}


.nav>ul,
ul li {
    display: inline;
}

.inline {
    display: inline;
}

.pointer {
    cursor: pointer;
}

ul {
    position: relative;
    top: -5%;
    left: 25%;
}

.user {
    position: relative;
    left: 50%;
    top: 20%;
}

span {
    position: relative;
    bottom: 15px;
    margin-left: 10px;
}
*/