* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: #005546;
    height: max-content;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
header ul {
    list-style: none;
}
p {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    font-style: normal;
}
button {
    padding: 10px;
    border-radius: 35px;
    min-width: 160px;
    min-height: 55px;
    box-shadow: 0px 5px 10px rgba(252, 104, 58, 0.25);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
        /* or 27px */
    text-transform: capitalize;
}
button:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(93, 59, 49, 0.515);
    transition: 0.3s;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.max_width {
    width: 80vw;
    max-width: 1300px;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
.j_c_center {
    justify-content: center;
}
.a_i_center {
    align-items: center;
}
.column {
    flex-direction: column;
}
.flex_right {
    justify-content: right;
}
.white {
    color: white;
}
.orange {
    color: #FF6231;
}
.p1 {
    font-size: 20px;    
}
.p2 {
    font-size: 16px;
}
