.social_block {
  gap: 10px;
  justify-self: right;
}

.social_block img {
  width: 20px;
}
.welcome {
  padding-bottom: 22vh;
  background-image: url(../images/welcome_main_bg.svg);
  background-size: cover;
}
.nav {
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 175px;
}
.menu {
  width: 80%;
  justify-content: space-between;
}
.menu ul {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.menu ul li,
.burger_menu {
  white-space: nowrap;
}
.burger {
  font-size: 48px;
  display: none;
}
.burger_menu {
  display: none;
  position: absolute;
  font-size: 14px;
  transform: translateX(-70%);
}
.burger_menu ul {
  list-style: none;
  padding: 20px 15px;
  background: #ff6231;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(180deg, #ff6231fd, #ffa979fd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, #ff6231fd, #ffa979fd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.burger_menu ul li {
  padding: 10px 0;
}
.burger:hover .burger_menu {
  display: flex;
}
.nodec {
  list-style: none;
}
.main {
  margin: auto;
  color: white;
  gap: 70px;
  margin-top: 10vh;
  justify-content: space-between;
}
.main_content {
  gap: 25px;
  flex-shrink: 2;
}
.main_content h1 {
  margin-top: 70px;
}
.main_content h1,
h3,
h4 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  max-width: 680px;
  text-transform: capitalize;
}
.main_img {
  align-items: center;
  flex-shrink: 1;
}

.circle img {
  max-height: 800px;
  width: 100%;
}
.transparent_btn {
  background: transparent;
  border: 2px solid white;
  color: white;
}
.gradient_btn {
  background: #ff6231;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6231fd, #ffa979fd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6231fd, #ffa979fd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: white;
}
.signup {
  padding: 10px 20px;
}
/* -------------- second screen ------------- */
.second_screen {
  width: 90vw;
  justify-content: center;
  margin: auto;
  background-position: bottom;
  background-size: contain;
  background-image: url(../images/second_screen_bg.svg);
}
.second_screen p,
ul li {
  color: #888888;
  padding: 20px 0;
}
.second_screen h2 {
  font-size: 50px;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.second_screen ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
}
.second_screen ul li {
  background-image: url("../icons/we_are_li.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 40px;
  list-style: none;
}

.container {
  gap: 200px;
}
.we_are {
  justify-content: center;
  gap: 60px;
}
.we_are p,
.created_4 p {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}
.created_4 p {
  text-align: center;
}
.we_are_content {
  max-width: 550px;
  flex-shrink: 3;
}
.we_are_img {
  max-width: 550px;
  flex-shrink: 1;
}
.we_are_img img {
  width: 100%;
}
.cards {
  gap: 25px;
}
/* TODO: покакой-то причине правый див в определнный момент перестает сжиматься в ущерб другим дивам */
.created_card {
  padding: 45px;
  width: 360px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 80, 61, 0.2);
  border-radius: 20px;
  gap: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 360px;
}
.created_card p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
}
.created_card h5 {
  font-size: 20px;
  text-align: center;
}
.created_card img {
  width: 100%;
}
/* ------------------We have application block --------------*/
.bg_2 {
  background-image: url(../images/we_have_application_bg.svg);
  background-size: cover;
}
.bg_2 .main {
  padding-bottom: 120px;
}
.app_p {
  font-size: 16px;
  line-height: 170%;
  flex-shrink: 2;
}
.gradient_btn img,
.transparent_btn img {
  position: relative;
  transform: translateY(15%);
}
.center {
  justify-content: center;
  max-width: 50%;
}
.center button {
  width: 175px;
}
/* ---------------- third sceen -------------------*/
.third_screen {
  justify-content: center;
  background-position: bottom;
  background-size: contain;
  background-image: url(../images/third_block_bg.svg);
  background-repeat: no-repeat;
}
/* ------------they say about us --------------- */
.card {
  padding: 45px;
  width: 360px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 80, 61, 0.2);
  border-radius: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 360px;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}
.card p {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  /* or 27px */
  color: #888888;
}
.author {
  align-items: center;
  margin-top: 25px;
}

.author p {
  color: #141515;
  margin-left: 20px;
}
/* ------------join our community------------------ */
.bg_3 {
  background-color: #005546;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/join_our_comm_bg.svg);
  border-radius: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax (auto, 1fr));
  gap: 20px;
}
/* .join_img img {
    height: 95%;
    max-width: 100%;
} */
.join_img {
  grid-area: 1/2/-1/-1;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/join_img.svg);
}
.join {
  grid-area: 1/1/-1/3;
  z-index: 2;
  padding: 60px;
  gap: 25px;
}
.join p {
  letter-spacing: 1px;
}
.join input[type="text"] {
  padding: 20px;
  border: none;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.i_agree {
  align-items: center;
  gap: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.i_agree button {
  margin-right: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.underline {
  border-bottom: 1px solid white;
  gap: 15px;
  padding-bottom: 5px;
}
.socials {
  gap: 20px;
}
/* ------------------FAQ --------------------- */
.faq {
  justify-content: space-between;
  gap: 50px;
}
.faq_content {
  align-self: center;
}
.faq_content h4 {
  margin-bottom: 25px;
}
.faq_img img {
  width: 35vw;
}
/* -------------Whats New ---------------------- */
.final {
  justify-content: center;
  padding: 150px 0;
  background-image: url(../images/final_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.news {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
}
.news h5 {
  line-height: 150%;
}
.c1 {
  grid-area: 1/3/-1/5;
}
.c2 {
  grid-area: 1/5/-1/-1;
}
.whats_new {
  grid-area: 1/1/-1/3;
  gap: 20px;
  padding: 25px;
}
.whats_new p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #888888;
}
.whats_new a {
  width: fit-content;
}
.c1 h5,
.c2 h5 {
  font-weight: 500;
  font-size: 20px;
}
.date {
  text-transform: uppercase;
}
/* ------------------- footer ------------------ */
footer .soc_pad {
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-top: 1px solid white;
  padding: 5px;
}
footer .menu {
  margin: 0;
  padding: 5px;
}
